# Google OAuth Credentials
# Get these from https://console.cloud.google.com/
# Authorized redirect URIs: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE

# Naver OAuth Credentials
# Get these from https://developers.naver.com/
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=TU5PVVVEaWJVT3BaekloQ1FUaGhUYmxhV011enl5TlQ=

# NextAuth Configuration
# Generate a secret with `openssl rand -base64 32` or just a random string
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# MongoDB Connection
# Get this from MongoDB Atlas OR use local docker: mongodb://localhost:27017/your_db_name
MONGODB_URI=mongodb+srv://your_user:your_password@your_cluster.mongodb.net/your_db_name
