.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent dark background */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logoSection {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.nav {
    display: flex;
    gap: 2rem;
}

.navLink {
    color: #ddd;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.navLink:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.authSection {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.loginButton {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.loginButton:hover {
    background-color: white;
    color: black;
}